@import "./scss/reset.scss";
@import "./scss/mixins";
@import "./scss/variables";

@import  url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=EB+Garamond&display=swap');

body {
  font-family: 'Almendra Display', cursive;
  background-image: $backgroundImage;
  height: 100vh;
  background-attachment: fixed;
}
p {
  font-family: 'EB Garamond', serif;
}
